<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Igreja Reviver em Cristo Massamá</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
  
  <img src="/static/header.jpg"  width="100%" height="50%" alt="Imagem do Header">
  
    <h1>Igreja Reviver em Cristo Internacional</h1>


  </header>

  <main>
  
   <section id="redes-sociais">
      <h2>Siga-nos nas nossas Redes Sociais</h2>
      <div class="redes">
      <a href="https://www.facebook.com/igrejacomunidadereviveremcristo" target="_blank">
  <img src="/static/facebook.png" width="10%" height="10%" alt="Facebook">
</a>

        <a href="https://www.instagram.com/igreja_reviver_em_cristo_/" target="_blank">
  <img src="/static/instagram.png" width="10%" height="10%" alt="Instagram">
</a>

      <a href="https://www.youtube.com/@rvci-reviveremcristointern5365" target="_blank">
  <img src="/static/youtube.png" width="10%" height="10%" alt="YouTube">
</a>

      </div>
    </section>
	
	<section id="contato">
      <h2>Contactos</h2>
      <p>Telefone: 962 535 051</p>
	  
	  <p>Email: igrejareviveremcristo@hotmail.com</p>
    </section>
	
    <section id="endereco">
      <h2>Endereço</h2>
      <p>Rua das Indústrias, 11 2745-740 Queluz Massamá, Portugal</p>
    </section>

    

   
  </main>

  <footer>
    <p>&copy; 2023 Igreja Reviver em Cristo</p>
  </footer>
</body>
</html>
